* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

body {
	background-color: darkgreen;
	background-image: url(../images/bg2.jpg);
	background-size: cover;
	width: 960px;
	margin: auto;
	font-family: 'Open Sans', Helvetica, sans-serif
}

.header {
	padding: 10px;
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Montserrat', Helvetica, sans-serif;
	/* height: 200px; */
}

.header > div {
	display: inline-block;
	vertical-align: middle;
	/* box-sizing: content-box;
	width: 100%;
	float: left; */
}

.logo {
	margin-right: 10px;
}

.logo > img {
	width: 100px;
	height: 100px;
}

.nav {
	background-color: lightgreen;
}

.nav > a {
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	background-color: lightgreen;
	margin: 0;
	text-align: center;
	padding: 20px;
	/* border: 1px solid greenyellow; */
	display: block;
	float: left;
}

.nav > [placeholder="Search"] {
	display: block; 
	float: right;
	height: inherit;
	margin: 20px;
}

.main {
	background-color: lightgreen;
}

.feature {
	display: flex;
	height: 472px;
	/*background-color: rgba(255,255,255,0.5);*/
}

.feature-img {
	width: 70%;
}

.feature img {
	width: 100%;
	height: 100%;
}

.feature-content {
	/* background-color: rgba(0,0,0,0.2); */
	background-color: #ffff39;
	height: inherit;
	width: 30%;
	padding: 10px;
	text-align: justify;
}

.feature-title {
	text-align: center;
}

.feature-flower {
	margin: 20px 0;
	font-style: italic;
	font-size: 36px;
}

.about {
	padding: 10px;
}

.about > p {
	margin-top: 10px;
}

.footer {
	background-color: lightgreen;
	width: inherit;
	text-align: center;
	padding: 10px;
	/* position: absolute;
	bottom: 0; */
}

.gallery-item {
	width: 25%;
	float: left;
	padding: 2px;
}

.gallery-item > img {
	width: 100%;
}

.gallery-item > p {
	text-align: right;
}